extends layout

block content
  if(typeof user !== 'undefined')
    div.alert.alert-info
      span #{user.user_name} さんとしてログインしています
  h1.text-center.font-weight-light #{title}
  if(messageList)
    each messageItem in messageList
      div.shadow-lg.p-3.mb-5.bg-white.rounded
        p #{messageItem.message}
        p #{messageItem.user_name} #{messageItem.created_at}
        if (messageItem.image_path)
          img(src=`${messageItem.image_path}`, alt="").rounded-circle
  form(action=`/boards/${board.board_id}`, method="post" enctype="multipart/form-data").form-group
    input(type="text" name="message" required).form-control
    br
    input(type="file" name="image_file").form-control-file
    br
    button(type="submit").btn.btn-lg.btn-primary 投稿
  div.text-right
    a(href="/") TOPへ戻る