extends layout

block content
  if(typeof user !== 'undefined')
    div.alert.alert-info
      span #{user.user_name} さんとしてログインしています
  form(action="/", method="post").form-group
    label タイトル
    input(type="text" name="title" required).form-control
    br
    button(type="submit").btn.btn-primary ボート作成
    br
    br
    each boardItem in boardList
      div.card.border-light.mb-3
        a(href=`/boards/${boardItem.board_id}`).card-header
          p #{boardItem.title}
        div.card-body
          p.card-text #{boardItem.user_name} #{boardItem.created_at}




